<style>
a
{
    text-decoration:none;
}
table
{
    background: white;
}

th
{
    border: 1px solid black;
    text-align: center;
    font-size: 13px;
    width: 50px;
    height: 30px;
    padding: 3px;
    background:#F01964;
}

td
{
    border: 1px solid black;
    text-align: center;
    font-size: 13px;
    width: 50px;
    height: 40px;
    padding: 3px;
    background:#A7F019;
}

.tr
{
    background:#E9A51B;
}

.hoja
{
    padding: 70px;
    margin-left: 100px;
    margin-right: 100px;
}
</style>


<p></p>
<div class="hoja">
<center>
<table border="1">
<tr>
    <td colspan="7" class="tr"><center>Dec - 2021</center></td>
</tr>
<tr>
    <th>Sun</th>
    <th>Mon</th>
    <th>Tue</th>
    <th>Wed</th>
    <th>Thu</th>
    <th>Fri</th>
    <th>Sat</th>
</tr>

<div>
<tr>
    <td><a>28</a></td>
    <td><a>29</a></td>
    <td><a>30</a></td>
    <td><a>1</a></td>
    <td><a>2</a></td>
    <td><a>3</a></td>
    <td><a>4</a></td>
</tr>
<tr>
    <td><a>5</a></td>
    <td><a>6</a></td>
    <td><a>7</a></td>
    <td><a>8</a></td>
    <td><a>9</a></td>
    <td><a>10</a></td>
    <td><a>11</a></td>
</tr>
<tr>
    <td><a>12</a></td>
    <td><a>13</a></td>
    <td><a>14</a></td>
    <td><a>15</a></td>
    <td><a>16</a></td>
    <td><a>17</a></td>
    <td><a>18</a></td>
</tr>
<tr>
    <td><a>19</a></td>
    <td><a>20</a></td>
    <td><a>21</a></td>
    <td><a>22</a></td>
    <td><a>23</a></td>
    <td><a>24</a></td>
    <td><a>25</a></td>
</tr>
<tr>
    <td><a>26</a></td>
    <td><a>27</a></td>
    <td><a>28</a></td>
    <td><a>29</a></td>
    <td><a>30</a></td>
    <td><a>31</a></td>
    <td><a>1</a></td>
</tr>
</div>
</table>
</center>
</div>

<p>
<center>
<div class="btn-group">
    <a href="http://localhost:3000/categories/new/" class="btn btn-success"><font color="black"><h4> New Category </h4></font></a>
    <a href="http://localhost:3000/tasks/new/" class="btn btn-success"><font color="black"><h4> New Task </h4></font></a>
    <a href="http://localhost:3000/notes/new/" class="btn btn-success"><font color="black"><h4> New Note </h4></font></a>
</div>
</center>
</p>