<p>
<center>
<div class="btn-group">
    <a href="#" class="btn btn-primary"><font color="black"><h4> New Category </h4></font></a>
    <a href="#" class="btn btn-primary"><font color="black"><h4> New Task </h4></font></a>
    <a href="#" class="btn btn-primary"><font color="black"><h4> New Note </h4></font></a>
</div>
</center>
</p>